@import '../../../vars';

.members {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 120%;
}

.member-title {
    padding: 15px;

    @include title;

    font-size: 170%;
}

.member-instance {
    padding: 5px 5px 5px 15px;
    transition: 0.2s;

    &:hover {
        padding-left: 20px;
    }
}


.image {
    padding: 20px;
}

.status {
    color: $textlight;
    font-size: 80%;
}

.admin {
    background-color: $mixpps;
    padding: 5px 5px 5px 5px;

    
    &:hover {
        padding-left: 10px;
    }
}