/*colors*/

$primary: #000;
$secondary: #444;
$converse: #fff;
$text: #bbb;
$textlight: #999;
$texthighlighted: #fff;
$textdark: #222;
$textlink: #78d;
$feedbackprimary: #483;

  /*derived*/

$mixppps: mix($primary, $secondary, 90);
$mixpps: mix($primary, $secondary, 70);
$mixpss: mix($primary, $secondary, 30);
$mixpsss: mix($primary, $secondary, 10);

/*fonts*/

$normal: Open Sans, serif;
$head: Infinity;
$title: Dense;

$normalsize: 15px;

/*values*/

$naviconsize: 60px;
$mobscreen: 700px;


/*functions*/

@mixin circle-picture($size: 50px) {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: $size;
	height: $size;
}

@mixin mid-row {
	> div {
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin title {
	font-family: $title;
	font-size: 200%;
	text-transform: uppercase;
}

@mixin clickable {
	cursor: pointer;
	user-select: none;
}

@mixin bgcolor($alpha: 0.5) {
	background-color: mix($primary, $secondary, $alpha);
}

@mixin shade {
	
}