/*colors*/

$primary: #000;
$secondary: #333;
$accent: #a70;
$converse: #fff;
$text: #bbb;
$textlight: #999;
$texthighlighted: #fff;
$textdark: #222;
$textlink: #78d;
$feedbackprimary: #483;

  /*derived*/

$mixppps: mix($primary, $secondary, 90);
$mixpps: mix($primary, $secondary, 70);
$mixpss: mix($primary, $secondary, 30);
$mixpsss: mix($primary, $secondary, 10);

/*fonts*/

$normal: Open Sans, serif;
$head: Infinity;
$title: Dense;

$normalsize: 15px;

/*values*/

$naviconsize: 60px;
$mobscreen: 700px;


/*functions*/

@mixin circle-picture($size: 50px) {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: $size;
	height: $size;
}

@mixin mid-row {
	> div {
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin title {
	font-family: $title;
	font-size: 200%;
	text-transform: uppercase;
}

@mixin clickable {
	cursor: pointer;
	user-select: none;
}

@mixin bgcolor($alpha: 0.5) {
	background-color: mix($primary, $secondary, $alpha);
}

@mixin shade {
	
}

.link {
	color: $textlink;
	
	&:hover {
		text-decoration: underline;
	}

	@include clickable;
}

.center {
	display: table;
	margin: auto;
}

.lean-right {
	display: table;
	margin-left: auto;
}

.scr {
	overflow-y: auto;

}

.scr-enc {
	::-webkit-scrollbar {
		background-color: transparent;
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: $secondary;
	}
}

.box-title {
	padding: 10px;

	@include title;

	font-size: 220%;
}

.default-input {
	input {
		padding: 10px;
		font-family: $normal;
		border: none;
		border-bottom: solid medium $accent;
		background-color: transparent;
		color: $text;

		&:focus {
			outline: none;
		}
	}

	textarea {
		padding: 10px;
		font-family: $normal;
		border: none;
		background-color: transparent;
		border-left: solid medium $accent;
		color: $text;
		transition: 0.2s;
		resize: none;

		&:focus {
			outline: none;
			background-color: $mixpss;
		}
	}	

	
	::-webkit-scrollbar {
		background-color: transparent;
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: $accent;
	}
}

.modal-bg {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
}

.modal_visible {

	.modal-bg {
		opacity: 1;
		pointer-events: auto;
	}

}

.modal-set {
	position: fixed;
	width: 0px;
	height: 0px;
	top: 50vh;
	left: 50vw;
}

.modal-box {
	transform: translateX(-50%) translateY(-50%);
	width: max-content;
}