@import '../../../vars';

.button {
    display: inline-block;
    padding: 3px 10px;

    color: $text;
    font-size: 110%;
    border-bottom: solid medium transparent;
    transition: 0.2s;

    &:hover {
        color: $texthighlighted;
        border-bottom: solid medium $texthighlighted;
    }

    &:active {
        transform: scale(0.8);
        border-bottom: solid medium transparent;
        background-color: $mixpss;
    }

    @include clickable;
}