<div class='entity-user'>
  {{user.name}}
  <div class='encloser'>
    <div class='about-user'>
      <div class='row-set'>
        <div>
          <app-entity-image></app-entity-image>
        </div>
        <div class='user-details'>
          <div class='user-name'>
            {{user.name}}
            <div class='user-title'>
              {{user.title}}
            </div>
          </div>
          <div class='user-desc'>
            {{user.description}}
          </div>
          <div class='user-skills'>
            <span> {{user.skills}}</span>
          </div>
        </div>
    </div>
  </div>
</div>
