<div>
  <div class='messages'>
    <div class='row-set box-title'>
      <div>
        Messages
      </div>
      <div class='fill'>
        <div class='lean-right'>
          4 / 12
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class='row-set'>
          <div class='fill message-instance'>
            <div>
              <div class='row-set'>
                <div>
                  <app-entity-image></app-entity-image>
                </div>
                <div>
                  <app-entity-user></app-entity-user>
                </div>
              </div>
            </div>
            <div class='message-content'>
              I sent the doppelfighters at this link, check it out.
            </div>
          </div>
          <div class='scroll-button'>
            <app-icon [src]='"scroll-right"' ></app-icon>
          </div>
        </div>
        <div class='default-input'>
          <textarea placeholder="Quick Reply" rows='3'></textarea>
        </div>
      </div>
    </div>
  </div>
</div>