<div class='teams' [ngClass]='{narrow: !ui.sideNavIsOpen}'>
  <div class='teams-box'>
    <app-search-bar [tags]='"tag-full-width"' [searchtype]='"teams"'></app-search-bar>
    <div class="my-teams" *ngIf='teamService.myteams.length > 0'>
      <div class='row-set'>
        <div class="my-teams-title fill" *ngIf='ui.sideNavIsOpen'>
          My teams
        </div>
        <div>
          <app-hyve-loader [scale]='0.3' *ngIf='teamService.isLoadingTeams'></app-hyve-loader>
        </div>
      </div>
      <div class='team-instance' *ngFor='let team of teamService.myteams, let num = index' (click)='selectTeam(team.id)' [ngClass]='{team_selected: teamService.selectedTeam == team.id}'>
        <div class='row-set'>
          <div class='team-image'>
            <app-entity-image [scale]='ui.sideNavIsOpen?1:1.6' ></app-entity-image>
          </div>
          <div class="team-content" *ngIf='ui.sideNavIsOpen'>
            <div class="team-name">
              {{team.name}}
            </div>
            <div class="team-info">
              You have {{team.unseenAnnouncements}} unseen announcements.
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-button [lean]='"right"' [icon]='"close-icon"' *ngIf='teamService.teams.length > 0' (click)='clearTeams()'></app-button>
    <div class="other-teams">
      <div class='team-instance' *ngFor='let team of teamService.teams'  (click)='selectTeam(team.id)' [ngClass]='{team_selected: teamService.selectedTeam == team.id}'>
        <div class="team-info-2"  *ngIf='ui.sideNavIsOpen'>
          David Dundee is a member of this team.
        </div>
        <div class='row-set fill'>
          <div class='team-image'>
            <app-entity-image [scale]='1.7' ></app-entity-image>
          </div>
          <div class="team-content"  *ngIf='ui.sideNavIsOpen'>
            <div class="team-name">
              {{team.name}}
            </div>
            <div>
              {{team.focus}}
            </div>
            <div class="team-info">
               <div>{{team.memberCount + (team.memberCount > 1 ? " Members":" Member")}}</div> 
               <div> <app-entity-user [user]='team.leader' ></app-entity-user>, Cory Modden, Rath Redd, ... </div>
               Projects: Thollus, Lilium
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
