@import '../../../vars';

.teams-box {
    background-color: $secondary;
    height: 95vh;
    width: 500px;
    transition: 0.3s;
}

.my-teams {
    padding-bottom: 5px;
    background-color: lighten($secondary, 15%);
}

.my-teams-title {
    font-family: $title;
    font-size: 200%;
    padding: 15px 30px;
    color: $textdark;
    text-transform: uppercase;
}

.team-instance {
    margin: 5px;
    padding: 10px;
    background-color: $mixpss;
    transition: 0.2s;

    @include clickable;
}

.team_selected {
    background-color: $primary;
    margin-right: 0;
}

.team-instance:hover {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.team-instance:active {
    background-color: rgba(0,0,0,0.2);
}

.team-info {
    color: $textlight;
    font-size: 80%;
}

.team-online-status {
    color: $textlight;
    font-size: 70%;
    text-align: right;
}

.team-content {
    width: 100%;
    padding: 10px;
}

.team-info-2 {
    color: $textlight;
    font-size: 70%;
    text-align: right;
}

.team-name {
    font-size: 110%;
    color: $textlink;
}

.narrow {

    .teams-box {
        width: 100px;
    }

    .team-instance {
        background-color: transparent;
        margin: 0px;
    }

    .team_selected {
        background-color: $primary;
    }

    .team-image {
        display: table;
        margin: auto;
    }

    .team-instance:hover {
        box-shadow: none;
    }
    
    .my-teams {
        padding-bottom: 0px;
    }

}