@import '../../../vars';

.register {
    background-color: $primary;
    background-image: url('../../../assets/images/svgs/logo-bg.svg');
    background-size: cover;
    padding-top: 20vh;
    width: 100vw;
    height: 100vh;
}

.register-title {
    text-align: right;
    padding:  60px 20px ;

    @include title;

    font-size: 240%;
}

.half {
    width: 49.5%;
}

.register-inputs {

    width: 500px;
    display: table;
    margin: auto;

    input {
        width: 100%;
        min-width: 250px;
        padding: 10px;
        background-color: transparent;
        transition: 0.3s;
        color: $text;
        font-size: 110%;
        border: none;
        font-family: $normal;
        border-bottom: solid medium $secondary;
        box-sizing: border-box;
        vertical-align: middle;
        margin-bottom: 20px;
    }

    input:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.1);
    }   
}

.iconer {
    display: table;
    margin: auto;
    width: 100px;
}

.field-side {
    width: 800px;
}

.midder {
    padding: 10px;
    display: inline-block;
}

.status-in {
    width: 250px;
    overflow: hidden;
    vertical-align: middle;
    padding: 0px 10px;
}

.result {
    text-align: center;

    @include title;
    
    font-size: 280%;
}

.result-detail {
    text-align: center;
}

.loader {
    margin-top: -10px;
    display: inline-block;
}

.logosigns {
    padding: 30px;
}

.status {
    display: inline-block;
    vertical-align: middle;
    width: 0px;
}

td {
    vertical-align: middle;
}

.valid_field input {
    background-color: rgba(0,255,0,0.1) !important;
}

.invalid_field input {
    background-color: rgba(255,0,0,0.1) !important;
}