<div class='notification-target'>
	<div class='notification-bell-icon'></div>
	<div class='enquote'>
		<div class='quote'>
		</div>
	</div>
	<div class='dropdown'>
		<div class='notification-set'>
			<div class='notify'>
				<div class='notif-bg-set'>
					<div class='notif-bg-image fade-gradient'>
					</div>
					<div class='notif-bg-image'>
					</div>
				</div>
				<div class='notify-in'>
					<div class='notify-message'>
						You have been invited to work on the project <a>Dinn</a>
					</div>
					<div class='notify-options'>
						<div class='notify-button'>
							Accept
						</div>
						<div class='notify-button'>
							Decline
						</div>
					</div>
				</div>
			</div>
			<div class='notify'>
				<div class='notif-bg-set'>
					<div class='notif-bg-image fade-gradient'>
					</div>
					<div class='notif-bg-image'>
					</div>
				</div>
				<div class='notify-in'>
					<div class='notify-message'>
						You have been invited to work on the project <a>Naria</a>
					</div>
					<div class='notify-options'>
						<div class='notify-button'>
							Accept
						</div>
						<div class='notify-button'>
							Decline
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
