<div>
  <div class='team-content'>
    <div class="team-header">
      <app-tabs [tabNames]="tabs" (tabChange)='changeTab($event)' ></app-tabs>
    </div>
    <div class='tabset-enclosure'>
      <div class='tabset' [ngStyle]='tabStyle'>
        <div class='main-block-row-set tab'>
          <div [ngStyle]='tabdivStyle'>
            <app-team-chat></app-team-chat>
          </div>
          <div [ngStyle]='tabdivStyle'>
            <app-team-projects></app-team-projects>
          </div>
          <div [ngStyle]='tabdivStyle'>
            <app-team-detail></app-team-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
