<div>
  <div class='notifications-box'>
    <div class='box-title'>
      Notifications
    </div>
    <div>
      <div class='notification'>
        <div class='row-set'>
          <div>
            <app-entity-image></app-entity-image>
          </div>
          <div class='notification-detail'>
            You have been invited to work on the project Clarity.
          </div>
        </div>
        <div class='lean-right'>
          <app-button [label]='"Accept"' ></app-button>
          <app-button [label]='"Decline"' ></app-button>
        </div>
      </div>
      <div class='notification'>
        <div class='row-set'>
          <div>
            <app-entity-image></app-entity-image>
          </div>
          <div class='notification-detail'>
            You have been assigned 3 new tasks on the project The Zeta Project.
          </div>
        </div>
        <div class='lean-right'>
          <app-button [label]='"View"' ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>