<div>
  <div class='login-bar'>
    <div class="sign-up">
      Not a member? <span class='sign-up-link'> Sign up</span>
    </div>
    <div class='login-inputs'>
      <div  class='logo-img'>
        <img src='../../../assets/images/svgs/logo.svg'/>
      </div>
      <div  class='textbox'>
        <input class='username-input' placeholder="Username">
      </div>
      <div  class='textbox'>
        <input type='password' placeholder="Password">
      </div>
      <div  class='submit-button'>
        <input type='button' value='Login'>
      </div>
    </div>
  </div>
</div>