<div>
  <div class='projects'>
    <div class='box-title row-set'>
      <div>
        Tasks
      </div>
      <div class='fill'>
        <div class='lean-right'>
          2 / 3
        </div>
      </div>
    </div>
    <div>
    <div class='row-set'>
      <div class='fill'>
        <div class='task-ident'>
          <div class='row-set'>
            <div>
              <app-entity-image [scale]='0.7' ></app-entity-image>
            </div>
            <div class='band-nav-project'>
              The Zeta Project
            </div>
          </div>
          <div class='row-set center'>
            <div>
              <div  class='band-nav-task nb'>
                Stage <span class='num'>3</span>
              </div>
            </div>
            <div>
              <div  class='band-nav-task'>
                Set <span class='num'>4</span>
              </div>
            </div>
            <div>
              <div  class='band-nav-task'>
                Task <span class='num'>23</span>
              </div>
            </div>
          </div>
          <div class='row-set assign-det'>
            <div>
              <div class='suffice'>
                Assigned By
              </div>
            </div>
            <div>
              <app-entity-image [scale]='0.7'></app-entity-image>
            </div>
            <div class='fill'>
              <div class='lean-right'>
                Via Team
              </div>
            </div>
            <div>
              <app-entity-image [scale]='0.7'></app-entity-image>
            </div>
          </div>
        </div>
        <div class='task-desc'>
          This task entails the use of extreme military force.This task entails the use of extreme military force.This task entails the use of extreme military force.This task entails the use of extreme military force.This task entails the use of extreme military force.This task entails the use of extreme military force.This task entails the use of extreme military force.
        </div>
        <div class='task-meta lean-right row-set'>
          <div>
            <span class="num">0</span> Pitches
          </div>
          <div>
            <span class="num">0</span> Images
          </div>
          <div>
            <span class="num">0</span> LookAts
          </div>
        </div>
      </div>
      <div class='next-task'>
        <app-icon [src]='"scroll-right"' ></app-icon>
      </div>
    </div>
  </div>
</div>