@import '../../../vars';

.user {
	background-color: $primary;
	//background-image: url('../../../assets/images/backgrounds/abstract-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}