<div>
  <div>
    <div class='home-title'>
      Home
    </div>
    <div class='scr-enc'>
      <div class='scr'>
        <div class='main-row-set'>
          <div>
            <div class='component'>
              <app-home-projects></app-home-projects>
            </div>
            <div>
            </div>
          </div>
          <div>
            <div class='component'>
              <app-home-messages></app-home-messages>
            </div>
            <div class='component'>
              <app-home-teams></app-home-teams>
            </div>
          </div>
          <div>
            <div class='component'>
              <app-home-notifications></app-home-notifications>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>