@import '../../../vars';

.option-button {
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.4s;

    &:active {
        transform: scale(0.8);
        background-color: $secondary;
    }
}

.option {
    width: 15px;
    height: 15px;
    background-color: $text;
    border-radius: 5px;
    transform: rotate(45deg);
}