@import '../../../vars';

.projects-list {
    background-color: $secondary;
    width: 500px;
    height: 95vh;
    transition: 0.3s;
}

.my-projects-set {
    background-color: lighten($secondary, 15%);
    padding-bottom: 5px;
}

.list-title {
    font-family: $title;
    font-size: 200%;
    padding: 15px 30px;
    color: $textdark;
    text-transform: uppercase;
}

.my-project-instance {
    background-color: $mixpss;
    padding: 10px;
    margin: 5px;
    transition: 0.3s;

    &:hover {
        color: $texthighlighted;
    }

    &:active {
        background-color: $mixpss;
    }

    @include clickable;
}

.selected {
    background-color: $primary;
    margin-right: 0px;
}

.project-name {
    font-size: 120%;
}

.set-info {
    padding: 5px;
}

.set-num {
    color: $textlight;
    font-size: 90%;
}

.set-percent {
    text-align: right;
    width: 40px;
}

.task-info {
    text-align: right;
    color: $textlight;
    font-size: 90%;
}

.list-picture {
    padding: 10px;
}

.project-instance {
    padding: 10px;
    background-color: $mixpss;
    margin: 5px;
}

.project-contrib {
    text-align: right;
}

.project-field {
    color: $textlight;
    padding: 0px 20px;
}

.project-det {
    padding: 20px;
}

.narrow {

    .projects-list {
        width: 100px;
    }

    .my-project-instance, .project-instance {
        margin: 0px;

    }

    .my-projects-set {
        padding-bottom: 0px;
    }

    .list-picture {
        display: table;
        margin: auto;
        padding: 5px 0px;
    }

}