<header *ngIf='!ui.disableHeader'>
	<div class='header'>
		<img src='../../../assets/images/svgs/logo.svg' class='logo-image'>
		<div class='logo-name'>FullHyve</div>
		<div class='account-details'>
			<div>
				<app-search-bar [searchtype]='"general"' class="hide-on-mobile"></app-search-bar>
			</div>
			<div>
				<app-entity-image></app-entity-image>
			</div>
			<div>
				<app-notification-bell></app-notification-bell>
			</div>
			<div>
				<app-preferences></app-preferences>
			</div>
		</div>
	</div>
</header>