<div>
  <div class='teams'>
    <div class='bx box-title row-set'>
      <div>
        Announcements
      </div>
      <div class='fill'>
        <div class='lean-right'>
          6 / 7
        </div>
      </div>
    </div>
    <div>
      <app-progress></app-progress>
    </div>
    <div>
      <div>
        <div class='row-set'>
          <div class='fill'>
            <div>
              <div class='row-set center'>
                <div>
                  <app-entity-image [scale]='0.7' ></app-entity-image>
                </div>
                <div class='team-name'>
                  Clarity
                </div>
              </div>
            </div>
            <div class='announcement-content'>
              No new developments regarding the changes of the project purge. We will keep you up to date with all our candy.
            </div>
          </div>
          <div class='scroll-button'>
            <app-icon [src]='"scroll-right"'></app-icon>
          </div>
        </div>
      </div>
    </div>
    <div class='default-input'>
      <textarea placeholder="Quick Reply" rows='3'></textarea>
    </div>
  </div>
</div>