@import '../../../vars';

.login-bar {
    background-color: $primary;
}

.website-front-div {
    width: 800px;
    height: 100px;
}

.website-login-bar {
    width: 100vw;
    background-color: $primary;
}

.website-bg {
    background-image: url('../../../assets/images/backgrounds/openhyve-bg.jpg');
    background-size: cover;
    background-position: center;
}